%div{ :class => 'span-18 last'}
  %h2 linux@listas.um.es

%div{ :class => 'span-10'}
  %h3 ¿Como me subscribo a linux@listas.um.es?

  %p
    Suponiendo que nuestra cuenta de correo es tux@um.es debemos acceder a https://listas.um.es/sympa/info/linux pinchamos en Suscribirse, rellenamos el campo correspondiente a la dirección de correo electrónico y pinchamos en el botón Aceptar.

  %p
    En nuestro correo tux@um.es recibimos un mensaje del gestor de listas de la UM. En el mensaje aparece la clave de suscripción a la lista. Esta clave debemos introducirla en la siguiente pantalla y pinchar en el botón Suscribirse. 


  %h3 ¿Existe un histórico de mensajes enviados a la lista?

  %p
    Sí, en 
    = link 'https://listas.um.es/sympa/info/linux', 'https://listas.um.es/sympa/info/linux'
 

%div{ :class => 'span-8 last'}
  = img "jornadas/linux.jpg"

