%div{ :class => 'span-10'}
  %h2 Transporte

  %h3 Autobús
  %p
    La línea que lleva al Campus de Espinardo es la 39
    %br/
    = link 'http://www.latbus.com/', 'http://www.latbus.com/'



  %h3 Tranvía
  %p
    De Lunes a Viernes de 7.20h a 22.30h con una frecuencia de 10 minutos
    %br/
    = link 'http://www.tranvimur.es/', 'http://www.tranvimur.es/'


  %h3 Taxi
  %p
    968 24 88 00
    %br/
    = link 'http://www.radiotaximurcia.com/', 'http://www.radiotaximurcia.com/'


%div{ :class => 'span-8 last'}
  = img "transporte/tranvia.jpg"

