%div{ :class => 'span-18 last'}
  %h1 Días Caldum TV

  %a{:class => 'player', :id => 'live' }

  =flowplayer
	
  %br/

  %h2 Otras formas de visualización
	
  %ul
    %li 
      %b 
        Alta calidad (MPEG4)    1Mbps   
      = link 'http://tv.um.es/directo/index/canal/1', 'http://tv.um.es/directo/index/canal/1'
    %li 
      %b
        Baja calidad (MPEG4)  256Kbps
      = link 'http://tv.um.es/directo/index/canal/2', 'http://tv.um.es/directo/index/canal/2'

  %p
    Para más información puede ver la página de 
    =link 'streaming', 'jornadas/streaming.html'