%div{ :class => 'span-18 last'}
  = img "slogan.png"

%div{ :class => 'span-18 last'}
  %p
    Días Caldum es una reunión de personas interesadas en el software libre y sus aplicaciones. Personas con poca o ninguna experiencia dispuestos a aprender, así como entendidos en la materia. La principal idea es ayudar a los que buscan conocimiento: programas, concepto, modos de trabajo, ...

  %p
    Uno de los objetivos del Proyecto Caldum es la utilización de conocimiento y software abierto como solución a los problemas planteados por la docencia y la investigación.
