%div{ :class => 'span-11'}

  <div style="width:430px"><style>.mcrmeebo { display: block; background:url("http://widget.meebo.com/r.gif") no-repeat top right; } .mcrmeebo:hover { background:url("http://widget.meebo.com/ro.gif") no-repeat top right; } </style><object width="430" height="300"><param name="movie" value="http://widget.meebo.com/mcr.swf?id=pqhZkxfWnW"></param><embed src="http://widget.meebo.com/mcr.swf?id=pqhZkxfWnW" type="application/x-shockwave-flash" width="430" height="300" /></object><a target="_BLANK" href="http://www.meebo.com/rooms/" class="mcrmeebo"><img alt="Create a Meebo Chat Room" src="http://widget.meebo.com/b.gif" width="430" height="45" style="border:0px"/></a></div>


%div{ :class => 'span-7 last'}
  %h2 Chat Días Caldum
  %p
    Participa en nuestras conversaciones durante las ponencias
