%div{ :class => 'span-18 last'}

%div{ :class => 'span-18 last'}

%div{ :class => 'span-6'}
  = img "bannerdc5.png"

%div{ :class => 'span-12 last'}
  %h2 Contacte con nosotros

  %b
    Universidad de Murcia
  %br/
  %b
    ÁTICA // Área de tecnologías de la Información y las Comunicaciones Aplicadas
  %br/
  Edificio Ática, Campus Univ. de Espinardo
  %br/
  E-30100 Murcia (SPAIN)
  %br/
  Tlf: +34 868888742
  %br/
  Fax: +34 868888337
  %br/
  softla@um.es (A/A: Juan José Vidal Agustín)



