%div{ :class => 'span-18 last'}
  %h1 Eventos

%div{ :class => 'span-18 last'}
  %h2 Speed dating

%div{ :class => 'span-6'}
  = img "jornadas/iwant.jpg"

%div{ :class => 'span-12 last'}

  %p
    ¿Tienes un proyecto y necesitas desarrolladores? ¿Eres un programador de primera y buscas trabajo en una empresa de tu nivel? ¿Tu empresa busca nuevos talentos? ¿Necesitas ayuda para tu proyecto de software libre? ¿Buscas el programador/programadora de ojos verdes de tus sueños?

  %p
    Pues menos lo último (o quién sabe), lo demás lo podrás encontrar en la conferencia, porque vamos a organizar una reunión al estilo 
    = link 'speed dating', 'http://en.wikipedia.org/wiki/Speed_dating' 
    donde puedas contar quién eres y qué ofreces o qué necesitas, y todo el resto del mundo pueda hacer lo mismo, y que el amor haga el resto.

  %p
    Así que si estás interesado en asistir, tanto como demandante como como oferente, déjanos un comentario en nuestro
    = link 'contacto', '/jornadas/contacto'
    La sesión tendrá lugar el jueves 5 las 19:30. ¡Nos vemos allí!


// -----------------------------------------------------------------------------

%div{ :class => 'span-18 last'}
  %h2 Recruiting

%div{ :class => 'span-6'}
  = img "jornadas/meeting.jpg"

%div{ :class => 'span-12 last'}
  %p
    Sabemos que el mercado laboral que rodea al software libre no está en crisis. Hay muchas empresas, emprendedores y proyectos buscando programadores, ingenieros y gurús buscando oportunidades interesantes y no sabiendo muy bien donde mirar.

  %p
    Así que como novedad este año, en los dos días que duren los Días Caldum se va a habilitar durante unas horas un espacio dedicado exclusivamente a poner en contacto a desarrolladores en busca de trabajo o proyectos con empresas, emprendedores u otros programadores que ofrezcan trabajo o soliciten colaboración. Será una sala para fomentar el intercambio de experiencias y CVs, un lugar para el recruiting/fast dating/o como se quiera llamar :)

  %p
    Así que si buscas nuevos horizontes laborales o proyectos en los que colaborar trae tu curriculum. Y si buscas gente para fichar o a la que ofrecer proyectos, este año tendrás un lugar en el que esperamos te sea más fácil la búsqueda.


// -----------------------------------------------------------------------------

// %div{ :class => 'span-18 last'}
//  %h2 KDD Pre-Jornadas

// %div{ :class => 'span-6'}
//  = img "jornadas/kdd.jpg"

// %div{ :class => 'span-12 last'}
//  %p
//    Convocatoria de una quedada que se está organizando para la tarde del Martes 3 con la gente que ha venido para la conferencia.

