%div{ :class => 'span-9 first'}
  %h1 Días Caldum 2009 (5ª Edición)
  %h4 Jornadas de Software Libre de la Universidad de Murcia

  %p
    Días Caldum es una reunión de personas interesadas en el software libre y sus aplicaciones. Personas con poca o ninguna experiencia dispuestos a aprender, así como entendidos en la materia. La principal idea es ayudar a los que buscan conocimiento: programas, concepto, modos de trabajo, ...

  %p
    Con este motivo se organizan diversas actividades: talleres, seminarios, charlas, ... y en particular los Días Caldum. En ellos se realizan actividades de temática común con el fin de reunir a las personas preocupadas por cuestiones afines. Estas actividades son abiertas a todos los ciudadanos aunque especialmente dirigida a los universitarios. La asistencia es libre aunque por motivos de aforo es preciso la preinscripción.

  %p
    Estas jornadas, organizadas desde ÁTICA y dentro del Proyecto Caldum, están enmarcadas dentro del Plan Estratégico de la Universidad de Murcia para el desarollo y uso del software libre SOFTLA. El objetivo es dar a conocer soluciones informáticas dentro del mundo del software libre aplicadas a la docencia y la investigación. Nuestra Universidad es la coordinadora de las acciones del grupo de Software Libre de la Conferencia de Rectores de Universidades Españolas. 
    
%div{ :class => 'span-9 last'}
  = link img("bboy.png"), 'http://www.linux-magazine.es/Readers/Events'