%div{ :class => 'span-18 last'}

%div{ :class => 'span-18 last'}

%div{ :class => 'span-6'}
  = img "tentacle.png"

%div{ :class => 'span-12 last'}
  %h1 Inscripción Días Caldum 2009

  %p
    La asistencia a las ponencias/talleres es libre y gratuita pero por motivos de aforo es necesario previamente preinscribirte en el evento.
  
  %p
    El registro se hará a través 
    = link 'Sym.posium', 'http://symposium.um.es/event_detail/198/dias-caldum-2009.html'
    (herramienta que permite una gestión integral y flexible de eventos científicos, académicos y profesionales en la Universidad de Murcia)

  %p
    %b
      Plazo de registro hasta el 30 de Octubre

  %p
    = link '>> Inscripción', 'http://symposium.um.es/event_detail/198/dias-caldum-2009.html'


