%div{ :class => 'span-18 last'}

%div{ :class => 'span-18 last'}

%div{ :class => 'span-6'}
  = img "tentacle.png"

%div{ :class => 'span-12 last'}
  %h1 Inscripción Días Caldum 2009

  %p
    La asistencia a las ponencias/talleres es libre y gratuita pero por motivos de aforo es necesario previamente preinscribirte en el evento.

  %h2 Créditos de libre configuración
 
  %p
    Los alumnos de la Facultad de Informática de las tres titulaciones a extinguir, de la Universidad de Murcia, que participen en estas actividades podrán solicitar el reconocimiento de créditos de libre configuración, en base a los siguientes criterios:

  %ul
    %li
      Por cada sesión práctica (de siete horas de duración, mañana y tarde): medio crédito

    %li
      Por la asistencia a conferencias: medio crédito si asisten a un mínimo de cinco conferencias, y un crédito si asisten a un mínimo de diez conferencias.

  %p
    El máximo de créditos a obtener en total es de un crédito.


  %h2 Regístrate

  %p
    El registro se hará a través 
    = link 'Sym.posium', 'http://symposium.um.es/event_detail/198/dias-caldum-2009.html'
    (herramienta que permite una gestión integral y flexible de eventos científicos, académicos y profesionales en la Universidad de Murcia)

  %p
    %b
      Plazo de registro hasta el 3 de Noviembre

  %p
    = link '>> Inscripción', 'http://symposium.um.es/event_detail/198/dias-caldum-2009.html'


