%div{ :class => 'span-18 last'}
  %h1 Promociona Días Caldum 2009
  %h3 Días Caldum 2009 // 4 y 5 de Noviembre de 2009
  %h3 Universidad de Murcia - Facultad de Informática

  %br/ 

  %h3 Banner 200x200

%div{ :class => 'span-6'}

  = img "/images/banners/dc200.png"

%div{ :class => 'span-12 last'}
  %p
    %b
      Copia el siguiente código para poner este banner en tu website


  %textarea{:cols => 50, :rows => 4, :style => 'background-color: #FFFEE7; font-size: 10px; height: 50px;'}
    <a href='http://diascaldum.um.es/' title='Días Caldum 2009'><img src='http://diascaldum.um.es/images/banners/dc200.png' alt='Días Caldum 2009' border='0' /></a>
