%div{ :class => 'span-11'}
  %h1 Lugar de celebración
  %h3 Días Caldum 2009 // 4 y 5 de Noviembre de 2009
  %h3 Universidad de Murcia - Facultad de Informática

  <iframe style='border:1px #ccc solid; padding: 0; margin-top: 10px; width:400px; height:300px;' src='http://um.sym.posium.com/event_detail/simple/198.html'>Tu navegador es demasiado antíguo</iframe>

%div{ :class => 'span-7 last'}
  = img "jornadas/facultad.jpg"
