%div{ :class => 'span-18'}
  %h2 Taller Brutalix
  %h3 Eduardo Fíat // Universidad de Zaragoza

  %p
    El proyecto Brutalix quiere ser una ayuda para la gestión de aulas informáticas. Es una alternativa, basada en herramientas libres, a las funciones de copia de imágenes y mantenimiento de ordenadores de IBM Tivoli - Rembo. Brutalix permite la clonación automatizada de aulas mediante arranque PXE, soportando distribución de imágenes mediante unicast, multicast y p2p.

  %p
    Este proyecto lleva en marcha desde el año 2004 cuando -ante la cantidad de ordenadores que Eduardo Fiat y Jaime Ruiz tenían que administrar y los problemas que Rembo tenía en su subred (Escuela Universitaria de Ingenieros Técnicos Industriales de Zaragoza)- decidieron empezar a programar una serie de scripts y utilidades que les ayudaran diariamente en el trabajo. Poco a poco el proyecto ha ido creciendo y tomando relevancia hasta el punto de no suponerles más quebraderos de cabeza los fallos que siguen produciéndose en la utilidad Rembo.

  %p
    Actualmente esta herramienta está en proceso de evaluación por parte de 20 universidades españolas, dentro del grupo de trabajo de rediris Docencia net.

  %p
    = link 'Volver a talleres/hacklabs', 'taller/index.html'
