%div{ :class => 'span-18'}
  %h2 Talleres/HackLabs

  .taller
    %h3 Miércoles 4 de Noviembre

    = link 'Brutalix // Gestión de Aulas Informáticas', 'taller/brutalix.html'
    %p
      El proyecto Brutalix quiere ser una ayuda para la gestión de aulas informáticas. Es una alternativa, basada en herramientas libres, a las funciones de copia de imágenes y mantenimiento de ordenadores de IBM Tivoli - Rembo.

  .taller
    %h3 Jueves 5 de Noviembre
    = link 'TCOS Project // Thin Client Operating System <br/>Terminales ligeros como soluciones anti-crisis', 'taller/tcos.html'
    %p
      TCOS es una nueva forma de arrancar equipos sin disco (o si), desde la red, basado en el kernel, binarios y librerías del sistema servidor


