%div{ :class => 'span-18'}
  %h2 Taller TCOS Project - Thin Client Operating System
  %h2 Terminales ligeros como soluciones anti-crisis
  %h3 Mario Debian

  %p
    Introducción a terminales ligeros, cómo y por qué nace TCOS, su funcionamiento, y casos de éxito (por ejemplo en la Universidad de  Valladolid)

  %p
    TCOS es una nueva forma de arrancar equipos sin disco (o si), desde la red, basado en el kernel, binarios y librerías del sistema servidor (nunca más compilaciones especiales o parches). 

  %p
    Con TCOS puedes arrancar:

  %ul
    %li Desde muchas tarjetas de red con soporte PXE
    %li Desde un disquete universal Etherboot
    %li Desde CDROM (TCOS puede hacer las imágens con isolinux o grub como cargadores)
    %li Desde el disco duro local (TCOS incluye dos instaladores, uno para todos los archivos del sistema y otro para las imágenes Etherboot) 

  = link "Uso de Terminales ligeros en la universidad. RedIRIS 2007", "http://tcosproject.org/cgit/docs.git/plain/tcos-presentaciones/texto-presentacion-rediris.odt"

  %p
    = link 'Volver a talleres/hacklabs', 'taller/index.html'
