%div{ :class => 'span-18'}
  %h2 Acreditación Días Caldum V

  %p
    Con el fin de poder entregar créditos y certificados de asistencia a aquellos oyentes que lo requieran, es necesario acreditarse antes de entrar a los conferencias. 

  %p
    Te regalaremos una bonita camiseta de las jornadas. :P


  %p
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
