%div{ :class => 'span-18'}
  %h2 Apertura oficial Jornadas

  %h3 Sr. D. Antonio Calvo-Flores Segura
  %h4 Vicerrector de Economía e Infraestructuras

  %h3 Sr. D. José Manuel García Carrasco
  %h4 Decano Facultad de Informática

  %h3 Sr. D. Tomás Jiménez García
  %h4 Director del Área de Tecnologías de la Información y las Comunicaciones Aplicadas // ATICA


  %p
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
