%div{ :class => 'span-18'}
  %h2 Content Management Systems
  %h3 Juan Carlos Giménez Moncada 
  %h4 Socket Sistemas Informáticos Alternativos


  %p
    Un sistema de gestión de contenidos (en inglés content management system, abreviado CMS) es un programa que permite crear una estructura de soporte (framework) para la creación y administración de contenidos, principalmente en páginas web, por parte de los participantes.

  %p
    Consiste en una interfaz que controla una o varias bases de datos donde se aloja el contenido del sitio. El sistema permite manejar de manera independiente el contenido y el diseño. Así, es posible manejar el contenido y darle en cualquier momento un diseño distinto al sitio sin tener que darle formato al contenido de nuevo, además de permitir la fácil y controlada publicación en el sitio a varios editores. Un ejemplo clásico es el de editores que cargan el contenido al sistema y otro de nivel superior (directorio) que permite que estos contenidos sean visibles a todo el público (los aprueba).

  %p
    En esta charla repasaremos diferentes sistemas utilizados en la actualidad, así como sus posibilidades; centrando especialmente la atención sobre el CMS Joomla.

  %p
    = link 'Socket Sistemas', 'http://www.socket.es/'
    %br/
    = link 'Joomla! CMS', 'http://www.joomla.org/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
