%div{ :class => 'span-18'}
  %h2 Diseño Web con Software Libre 
  %h3 Jesús David Navarro Rodríguez
  %h4 Profesional de diseño gráfico y la web

  %p
    En esta charla se exploran las posibilidades y herramientas disponibles para el diseño de sitios web desde plataformas GNU/Linux.

  %p
    Se explicará el flujo de trabajo que va desde la planificación de un proyecto hasta su revisión, pasando por las etapas de diseño, maquetación, documentación, etc. y las herramientas y técnicas comúnmente usadas en cada etapa.

  %p
    El objetivo de la charla es demostrar a los oyentes que es posible ahorrar costos en el desarrollo web en base al uso de herramientas libres y gratuitas, así como servir de guía para aquellos que están interesados en el desarrollo web en GNU/Linux, pero que desconocen cómo empezar o qué aplicaciones usar.


  %p
    = link 'http://www.jesusda.com', 'http://www.jesusda.com'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
