%div{ :class => 'span-18'}
  %h2 GIT: Control de versiones
  %h3 Francesc Esplugas
  %h4 Web Developer Freelance

  %p
    Git es un software de sistema de control de versiones diseñado por Linus Torvalds, pensando en la eficiencia y la confiabilidad del mantenimiento de versiones de aplicaciones cuando estas tienen un gran número archivos de código fuente. Al principio, Git se pensó como un motor de bajo nivel sobre el cual otros pudieran escribir el interfaz de usuario o front end como Cogito (software) o StGIT. [1] Sin embargo, Git se ha convertido desde entonces en un sistema de control de versiones con funcionalidad plena. [2] Hay algunos proyectos de mucha relevancia que ya usan Git, en particular, el grupo de programación del núcleo del sistema operativo GNU/Linux.

  %p
    = link 'GIT Website', 'http://git-scm.com/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
