%div{ :class => 'span-18'}
  %h2 Grass SIG
  %h3 Francisco Alonso Sarriá
  %h4 Subdirector del Instituto Universitario del Agua y del Medio Ambiente (INUAMA) 

  %p
    GRASS (Geographic Resources Analysis Support System) es el más desarrollado Sistema de Información Geográfica bajo licencia GPL  (software libre). Se integra fácilmente con otros programas  (PostgreSQL, R, GMT) y librerías (GDAL, Proj, Mapserver) con licencia GPL que complementan y multiplican las capacidades del programa.

  %p
    En esta presentación se hará una introducción a lo que son los Sistemas de Información Geográfica y posteriormente se presentará la filosofía de uso de GRASS, así como las posibilidades de desarrollo de nuevos módulos.

  %p
    = link 'GRASS Website', 'http://grass.itc.it/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
