%div{ :class => 'span-18'}
  %h2 Grass SIG
  %h3 Francisco Alonso Sarriá
  %h4 Subdirector del Instituto Universitario del Agua y del Medio Ambiente (INUAMA) 

  %p
    GRASS (acrónimo inglés de Geographic Resources Analysis Support System) es un software SIG (Sistema de Información Geográfica) bajo licencia GPL (software libre). Puede soportar información tanto raster como vectorial y posee herramientas de procesado digital de imágenes.

  %p
    = link 'GRASS Website', 'http://grass.itc.it/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
