%div{ :class => 'span-18'}
  %h2 Introducción al Business Intelligence con Pentaho como solución Open Source
  %h3 Agustín Martínez Villanueva
  %h4 Director de Proyectos Openred Soluciones


  %p
    Liferay es una solución para creación de Portales Web Empresariales e Intranets, dotada de un potente gestor de contenidos, basado en tecnología estándar, que aporta múltiples componentes para construir de forma rápida y sencilla sitios web profesionales, comunidades de usuarios , etc. Incorpora además gran cantidad de herramientas colaborativas novedosas y Web 2.0.

 
  %p
    Su uso ha aumentado en los últimos meses ya que se trata de una plataforma de Software Libre estable y probada, que proporciona funcionalidad avanzada tanto para usuarios como para administradores. Algunos de los puntos más destacados son el interfaz de administración, mediante “arrastrar y soltar”, la utilización de Portlets o la sencillez a la hora de crear nuevos sitios web.

  %p
    En la presentación se ofrecerá una visión general de los principales aspectos de Liferay:

  %ul
    %li
      Arquitectura
    %li
      Gestión de Usuarios y Perfiles
    %li
      Personalización del Entorno
    %li
      Creación de la estructura de Navegación 
    %li
      Plantillas e Incorporación de Portlets
    %li
      Integraciones:


  %p
    = link 'Liferay Website', 'http://www.liferay.com/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
