%div{ :class => 'span-18'}
  %h2 Mensajería unificada con Asterisk
  %h3 Pedro José Romero Martínez 
  %h4 Director ITEN

  %p
    Asterisk es una aplicación de software libre (bajo licencia GPL) que proporciona funcionalidades de una central telefónica (PBX). Como cualquier PBX, se puede conectar un número determinado de teléfonos para hacer llamadas entre sí e incluso conectar a un proveedor de VoIP o bien a una RDSI tanto básicos como primarios.

  %p
    Asterisk permite funcionalidades tales como Voz sobre IP, correo de Voz (Voicemail) con notificación por e-mail y recuperación de mensajes vía Web, Call Center, Respuesta Interactiva de Voz (IVR) con acceso a bases de datos, y todo lo que signifique Administración Inteligente de Recursos de Voz.


  %p
    = link 'ITEN Website', 'http://www.iten.es/'
    %br/
    = link 'Asterisk Website', 'http://www.asterisk.org/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
