%div{ :class => 'span-18'}
  %h1 Mesa Redonda DC2009

  %h3 Sr. D. José Carlos Carrión Plaza
  %h4 Director de Sistemas y Nuevas Tecnologías de la Asamblea Regional de Murcia

  %h3 Sr. D. Leandro Marín Muñoz
  %h4 Facultad de Informática // Director general de Informática de la Consejería de Hacienda y Administración Pública 2007-2009

  %h3 Sr. D. José Antonio Palazón Ferrando
  %h4 Profesor Titular de Ecología Universidad de Murcia



  %h3 Sr. D. Juan José Vidal Agustín
  %h4 Área de Tecnologías de la Información y las Comunicaciones Aplicadas (ATICA) // Responsable Días Caldum 2009


  %p
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
