%div{ :class => 'span-18'}
  %h2 Monitorización de Sistemas usando herramientas Open Source
  %h3 Mª Isabel Belijar Lisón
  %h4 Sección Telemática Área de Tecnologías de la Información y las Comunicaciones Aplicadas de la Universidad de Murcia


  %p
    = link 'ATICA Website', 'http://www.um.es/atica'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
