%div{ :class => 'span-18'}
  %h2 Morfeo Project
  %h3 Andrés Leonardo Martínez Ortíz
  %h4 Telefónica I+D

  %p
    La Comunidad Morfeo es una comunidad de software libre creada a finales de 2004 por Telefónica I+D, la Universidad Politécnica de Madrid y la Universidad Rey Juan Carlos. Está formada por universidades, centros de investigación, centros tecnológicos, PYMES, grandes empresas y administraciones públicas. Todas estas organizaciones comparten la visión del papel estratégico que el software libre juega en la actividad de I+D+i y resuelven colaborativamente los problemas que surgen en la adopción de software libre en contextos diversos. Partiendo de planteamientos modestos, hoy en día la comunidad alberga numerosos proyectos de I+D+i, desarrolla estrategias de desarrollo de competitividad basados en OSS y promueve la participación de actores del software libre en todo el mundo. 


  %p
    = link 'www.morfeo-project.org', 'www.morfeo-project.org'
    %br/
    = link 'The European Journal for the Informatics Professional. Vol X, Issue 3. 2009', 'http://www.upgrade-cepis.org/issues/2009/3/up10-3Brenya.pdf'
    %br/
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
