%div{ :class => 'span-18'}
  %h2 Oficinas de Software Libre en Universidades Españolas
  %h3 Rafa Rodríguez Galván
  %h4 Universidad de Cádiz


  %p
    = link 'OSLUCA Website', 'http://softwarelibre.uca.es/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
