%div{ :class => 'span-18'}
  %h2 opensource @ rediris
  %h3 Francisco Jesus Monserrat Coll 
  %h4 RedIRIS CERT

  %p
    RedIRIS ha estado involucrada desde su concecpión en diversas iniciativas  y desarrollos de código libre, en esta presentacion se hará un repaso a estas actividades,  así como una visión del estado actual de las iniciativas de código  libre en RedIRIS

  %p
    RedIRIS es la red académica y de investigación española y proporciona servicios avanzados de comunicaciones a la comunidad científica y universitaria nacional. Está financiada por el Ministerio de Ciencia e Innovación, e incluida en su mapa de Instalaciones Científico Tecnológicas Singulares. Se hace cargo de su gestión la entidad pública empresarial Red.es, del Ministerio de Industria, Turismo y Comercio.

  %p
    RedIRIS cuenta con más de 350 instituciones afiliadas, principalmente universidades y centros públicos de investigación, que llegan a formar parte de esta comunidad mediante la firma de un acuerdo de afiliación.

  %p
    = link 'RedIRIS Website', 'http://www.rediris.es/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
