%div{ :class => 'span-18'}
  %h2 Introducción al Business Intelligence con Pentaho como solución Open Source
  %h3 Pablo Gómez Palarea
  %h4 Consultor Business Intelligence DIGIO Soluciones Digitales

  %p
    Pentaho proporciona capacidades de reporting empresarial, análisis de datos, cuadro de mando, minería de datos y flujos de trabajo (workflow). El software ofrece opciones flexibles de implantación lo cual permite usar los componentes necesarios y personalizar las soluciones BI, dentro de una plataforma completa de desarrollo de Business Intelligence, además de posibilitar que los indicadores estén disponibles para un posible cuadro de mando de comunicación Web, y el Cuadro de Mando Integral de la Entidad donde se implanta.

  %p
    Algunos de estos componentes llevan años consolidados en el mundo del software libre y su uso se ha extendido rápidamente. La plataforma cuenta con un buen número de asistentes y plantillas que facilitan la construcción de informes por defecto.


  %p
    = link 'Pentaho Website', 'http://www.pentaho.com/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
