%div{ :class => 'span-18'}
  %h2 Protección de datos en Internet 
  %h3 Samuel Parra Sáez 
  %h4 Consultor y auditor en materia de protección de datos personales 

  %p
    Cada día Internet es más accesible a los usuarios, y aparecen
    nuevas herramientas que facilitan la publicación de opiniones (blogs,
    foros), las relaciones entre las personas (redes sociales) o el intercambio
    de ficheros en redes p2p; sin embargo, existen multitud de límites legales a
    la hora de facilitar o publicar información personal en Internet que no
    están siendo respetados ni por los particulares o grandes empresas ni por la
    propia Administración.

  %p
    En esta charla, se abordará desde un punto de vista práctico, y entre otras
    cuestiones, el deber de seguridad y el deber de secreto que cualquier
    persona que trate datos personales está obligada a respetar, así como el
    régimen de responsabilidad que puede tener un bloguer o un administrador de
    un foro.


  %p
    = link 'www.samuelparra.com', 'http://www.samuelparra.com'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
