%div{ :class => 'span-18'}
  %h2 Remote Desktop Infraestructure
  %h3 Chris Fanning
  %h4 UNED IT Manager

  %p
    UNED Terminal Project lleva más de un año en producción, llevando los escritorios del Personal de Administración y Servicios (PAS) a sedes remotas mediante protocolo NX. Para ello emplea la vieja y probada técnica LTSP, con servidores ligeros y virtualización. En esta charla abordaremos cómo afrontar un proyecto de este tipo:

  %p
    %ul
      %li
        Análisis de la solución
      %li
        Ruta de desarrollo e implantación
      %li
        Demostración
      %li
        Impresiones

  %p
    = link 'UNED Terminal Project', 'http://terminales.uned-terrassa.es/tec-docs'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
