%div{ :class => 'span-18'}
  %h2 Simulaciones físicas en 3D con Software Libre (Blender)
  %h3 Patricio Martínez Cano
  %h4 Blender Freenlance

  %p
    Blender3D es un software infográfico de código abierto y gratuito que además de incluir las herramientas básicas de este tipo de programas, modelado 3D, animación, composicioń de imágen, edición de video y audio, etc también incluye un motor gráfico capaz de desarrollar simulaciones físicas, tales como física de partículas, simulaciones de fluidos y de cuerpos blandos, etc, en tiempo real y pudiendo variar las condiciones de manera precisa con lo que además de una potente herramienta de creación de imágenes y animaciones en 3D también nos posibilita el estudio y demostracion de procesos físicos también en tres dimeniones. 


  %p
    = link 'Blender Website', 'http://www.blender.org/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
