%div{ :class => 'span-18'}
  %h2 Software libre para la enseñanza en red
  %h3 Mª Paz Prendes Espinosa
  %h4 Directora Grupo de investigación de tecnología educativa Universidad de Murcia

  %p
    En la complicada relación entre la enseñanza y la tecnología suele ocurrir que es la tecnología la que impone el ritmo de cambio y la necesidad de adaptación de la primera. Pero también es necesario reconocer que desde el ámbito de la enseñanza (tanto en sistemas formales como no formales) se ha trabajado para acomodar las tecnologías a las necesidades de docentes y discentes.

  %p
    Cualquier herramienta telemática tiene aplicaciones y posibilidades en educación y en el mundo del software libre nos encontramos con experiencias de gran interés relacionadas de forma específica con la enseñanza. Así encontramos numerosos ejemplos del uso de blogs o wikis como recursos de enseñanza. No obstante, también se ha desarrollado software específicamente para la formación. En este sentido el mayor reconocimiento ha sido el de las plataformas de e-learning (también denominadas EVEA o plataformas de campus virtual), cuyo uso en la enseñanza superior es casi universal y están muy extendidas en enseñanza secundaria.

  %p
    Entre otros datos, presentaremos los recogidos en nuestra reciente investigación sobre "Campus virtuales de software libre en las universidades españolas" cuyo informe completo puede revisarse en la web del proyecto: 
    = link 'www.um.es/campusvirtuales', 'www.um.es/campusvirtuales'


  %p
    = link 'GITE Website', 'http://www.um.es/gite/index.htm'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
