%div{ :class => 'span-18'}
  %h2 Virtual Desktop Infraestructure con Xen
  %h3 Alberto Villacián Fernández
  %h4 Director Técnico de Sun & Seeds


  %p
    Seeds Foundation es un software diseñado para controlar y gestionar parques de PCs virtuales (infraestructuras VDI). Desde su nacimiento, ha sido orientado hacia el mundo Open Source como método para solucionar las diferentes problemáticas de los usuarios. Sus facilidades para la utilización de Xen como hiper-visor, así como la gestión de PCs virtuales con Linux instalado, hacen de Seeds Foundation un producto único en el mercado.

  %p
    Durante la ponencia, se introducirá al funcionamiento de infraestructuras VDI gestionadas bajo Seeds Foundation para, a continuación, exponer sus componentes internos en Open Source, el enlace con Xen como hiper-visor, así como el roadmap de producto y su nueva estrategia de licenciamiento Open Source. Por último, se expondrá cómo el PC virtual puede servir como herramienta hacia la convergencia Open Source en el escritorio de trabajo.


  %p
    = link 'Sun & Seeds Website', 'http://www.sunandseeds.com/'
    %br/
    = link 'Xen Website', 'http://www.xen.org/'
    %br/
    = link 'Volver al programa de ponencias', 'ponencias/index.html'
